

#cardImgGallery{
    border-radius: 8px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .12);
    background: var(--ds-background-200);
    border: 1px solid var(--ds-gray-400);
    /* position: absolute; */
    /* top: 0; */
    /* width: 100%; */
    z-index: 0;
}